body{
    background-image: url('../images/dash-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.navb{
    background:linear-gradient(45deg,orange, yellow);
}
.yell{
    background-color: rgb(255, 255, 86);
    border-radius: 1em 1em 0 0;
}
.whi{
    background-color: aliceblue;
    border-radius: 0 0 1em 1em;
}